@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

:root{
    --main-color: rgb(12, 72, 250);
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
a{
    text-transform: none;
    text-decoration: none;
}

.top{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 15px;
}
.logo svg{
    height: 40px;
    width: auto;

}
.logo path{

    fill: var(--main-color);
}
.left .main_text{
    align-self: center;
    margin-left: 20px;
    z-index: 2;
    position: relative;

}

.main_text h1{
    font-size: clamp(40px, 8vw, 80px);;
    /*margin-top: .5rem;*/
    font-weight: 600;
    margin: 0;
}

.main_text p#info {
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    /*margin: 10px 0px 0px;
    font-size: clamp(40px, 8vw, 80px);
    font-weight: 600;
    color: var(--main-color);
    line-height: 0.9;*/
}

.main_text p#welcome {
    font-family: Space Mono, SF Mono, Fira Code, Fira Mono, Roboto Mono, monospace;
    margin: 0;
    font-size: clamp(1.3rem, 5vw, 1.4rem);
}

.left .left_bottom{
    align-self: center;


}

.left button{
    border: none;
    color: white;
    background-color: var(--main-color);
    border-radius: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    display: block;
}

.left .sphere{
    position: absolute;
    z-index: -1;
    top: 28px;
    right: -36px;
}

.main_img{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height:100vh;
}


.commit_nb{
    fill: green;
    font-weight: 900;
    font-size: 20px;
    cursor: default;
}

.shadow{
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,.40));
    transition: all 0.5s ease-out 100ms
  
}

.badge:hover .shadow.main{
    filter: drop-shadow(4px 4px 4px rgba(0,0,10,.80));

}

.badge{
    position: absolute;
    
    transition: all 0.5s ease-out 100ms;
    z-index: 6;
}

.badge:hover{
    transform: scale(1.05);
}


.badge:nth-child(1){
    /*top: clamp(1.4rem, 5vw, 1.6rem);*/
    top: 70vh;
    left: 10vw;
}

.badge:nth-child(2){
    /*top: clamp(1.4rem, 5vw, 1.6rem);*/
    top: 50vh;
    left: 67vw;

}



@media (max-width: 1000px){
    .main_img img {
        display: none;

    }

    .main_img{
        width: 0px;
        display: none;
    }

    .left{
        width: 100vw;
    }
}

.skill{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.table{
    width: 70%;
    height: 58%;
}

.back-table{
    height: 100%;
    width: 100%;
    position: relative;
}

.back-table img {
    position: absolute;
    transition: all 1s ease;
    width: 100%;  
    height: 100%;
}

.back-table img.left{
    transform: rotate(0deg);
}

.back-table img.right{
    transform: rotate(0deg);
}

.back-table.visible img.left{
    transform: rotate(-4deg);
}
.back-table.visible img.right{
    transform: rotate(4deg);
}

.back-table .center-table{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    width: 80%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    
    gap: 1rem;
    
}

.grid > .side{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items:  center;   
}

.grid > .side > .skill-title{
    background-color: rgba(255,255,255,.5);
    border-radius: 1rem;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    



}

.grid > .side-panel{
    width: 100%;
    height: 100%;   
}

.grid > .side-panel > .sub-panel{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.5);
    border-radius: 1rem;
    display: none;
}

.grid > .side-panel > .sub-panel.actif{
    display: flex;
}



.loading {
    transition: all 1s  1s ease;
    opacity: 0;
    /*transform: translateY(-100vh);*/
}